<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/resources/icons/avocado.ico">
  <title>Avocado Testing Framework</title>
  <link rel="stylesheet" href="./resources/css/framework.css">
  <script  src="/resources/js/navigation.js"></script>

</head>
<body>
  <header>
    <div class="left-header">
        <a href="/">
            <img src="/resources/logo/PNGs/full-colour.png" alt="Avocado Logo">
        </a>
        <h1 class="header-avocado">
            <a href="/">Avocado</a>
        </h1>
    </div>
    <div class="right-header">
        <a href="https://github.com/avocado-framework/avocado/issues/new?assignees=&labels=bug&projects=&template=bug_report.md&title=">Report a bug</a>
        <a href="https://www.redhat.com/mailman/listinfo/avocado-devel">Mailing list</a>
        <a href="https://github.com/avocado-framework/avocado">
            <img src="/resources/icons/github.svg" alt="GitHub">
        </a>
    </div>
</header>

    <div class="subheader">
        <div class="sub-logo-title">
            <img src="/resources/icons/suitcase.svg" alt="Avocado-framework logo">
            <h1 class="sub-avocado">Avocado-Framework</h1>
        </div>
    </div>


    <nav>  
    <a class="menu-btn">
        <svg t="1583388234559" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2279" width="16" height="16"><path d="M128 213.34016l768 0q17.67424 0 30.16704 12.4928t12.4928 30.16704-12.4928 30.16704-30.16704 12.4928l-768 0q-17.67424 0-30.16704-12.4928t-12.4928-30.16704 12.4928-30.16704 30.16704-12.4928zM128 725.34016l768 0q17.67424 0 30.16704 12.4928t12.4928 30.16704-12.4928 30.16704-30.16704 12.4928l-768 0q-17.67424 0-30.16704-12.4928t-12.4928-30.16704 12.4928-30.16704 30.16704-12.4928zM128 469.34016l768 0q17.67424 0 30.16704 12.4928t12.4928 30.16704-12.4928 30.16704-30.16704 12.4928l-768 0q-17.67424 0-30.16704-12.4928t-12.4928-30.16704 12.4928-30.16704 30.16704-12.4928z" p-id="2280" fill="#40403F"></path></svg>
    </a>
    <a class="tab placeholder"></a>
    <a class="tab" data-text="Installation" href="#one">Installation</a>
    <a class="tab" data-text="Quick Guide" href="#two">Quick Guide</a>
    <a class="tab" data-text="Utility Libraries" href="#three">Utility Libraries</a>
    <a class="tab" data-text="Documentation" href="#four">Documentation</a>
    </nav>

    <a name="one"></a>
    <section class="page content-page">  
    <div>
        <h1 class="section-headers">Installation</h1>   
    </div>
    </section>

    <a name="two"></a>
    <section name="two" class="page content-page">
    <div>
        <h1 class="section-headers">Quick Guide</h1> 
    </div>
    </section>

    <a name="three"></a>
    <section name="three" class="page content-page">
    <div>
        <h1 class="section-headers">Utility Libraries</h1> 
    </div>
    </section>

    <a name="four"></a>
    <section name="four" class="page content-page">
    <div>
        <h1 class="section-headers">Documentation</h1> 
    </div>
    </section>


  <footer>
    <div class="footer-header">Contact</div>
    <div class="footer-text">
        <a href="https://www.redhat.com/mailman/listinfo/avocado-devel">
            <img src="/resources/icons/mail.svg" alt="Mail Icon">
            Mailing List
        </a>
    </div>
    <div class="footer-text">
        <a href="https://github.com/avocado-framework/avocado/issues/new?assignees=&labels=bug&projects=&template=bug_report.md&title=">
            <img src="/resources/icons/bug.svg" alt="Bug Icon">
            Report a Bug
        </a>
    </div>
    <div class="footer-text">
        <a href="https://avocado-framework.readthedocs.io/en/latest/">
            <img src="/resources/icons/documentation.svg" alt="Doc Icon">
            Documentation
        </a>
    </div>
    <div class="footer-copyright">Copyright © 2024 Red Hat Inc. and Avocado Community Contributors</div>
</footer>


</body>
</html>
